$color-white: #FFFFFF
$color-notice-red: #FF3300FF
$color-border-grey: #DDDDDDFF
$color-word-blue: #3399FFFF
$color-word-grey: #A9A9A9
$color-border-blue: #3399FFFF
$color-tag-blue: #3399FFFF
$color-tag-grey: #F5F5F5FF
$color-menu-green: #99FFFFFF
$color-bg-blue: #EAF1FBFF
$color-bg-label: #EEEEEEFF
$color-table-blue: #F0F2FD

$color-bg-white: #FFFFFF
$color-word-white: #FFFFFF
$color-word-black: #333333FF
$color-primary: #709AF8FF
